* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.boxing {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 800px;
}



.box {
    height: 50px;
    width: 50px;
    border: 1px black solid;
    margin: 15px;
}

.box-bianco {
    background-color: lightcyan;
}

.box.green {
    background-color: green;
}

.box-rosso {
    background-color: red;
}